<!--
    Name: E Hyun (Annie) Kim 
    Date: Aug 12, 2022 
    File Name: app.component.html
-->

<mat-toolbar color="primary">
  <span class="spacer"></span>
  <span>Countries Around the World</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openInfo()">
      <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>

<div class="continentMenu">
  <label id="contient-radio">Continent:</label>
  <mat-radio-group aria-labelledby="contient-radio" [(ngModel)]="continentChosen" (change)="handleContientChange()"> 
      <mat-radio-button *ngFor="let con of continents" [value]="con">
          {{con}}
      </mat-radio-button>
  </mat-radio-group>
</div>

<!-- container for the cards -->
<div class="gridblock">
  <!-- mateiral cards -->
  <mat-card *ngFor="let nation of nations" (click)="openDialog(nation)">
      <img mat-card-image [src]="getFlagName(nation)">
      <mat-card-content>
          {{nation.Name}}
      </mat-card-content>
  </mat-card>
</div>
<!-- end of cards -->
