<!--
    Name: E Hyun (Annie) Kim 
    Date: Aug 12, 2022 
    File Name: info-dialog.component.html
-->

<h1 mat-dialog-title>Information</h1>

<mat-dialog-content>
    <p>
        This website provides information of the countries in the world, including: 
        Country Code, Contient, Region, Surface Area, Population and Captial. 
        Information can be outdated from the time the website was created. 
    </p>
    <p class="copyright"> This website does not have the copy right to any of the images used.
        Please do not copy right the images from this website. <br/> <br/> Created: Aug 12, 2022
    </p>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [mat-dialog-close]="">CLOSE</button>
</mat-dialog-actions>