/*
    Name: E Hyun (Annie) Kim 
    Date: Aug 12, 2022 
    File Name: style.css
*/

body {
    margin: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.gridblock {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap:10px;
}

.mat-card {
    background-color: rgb(67, 62, 62);
    cursor: pointer;
}

.mat-card-content {
    text-align: center;
    color: white;
}

.mat-dialog-title {
    text-align: center;
}

.mat-dialog-content h4 {
    text-align: center;
}

.mat-dialog-content h3 {
    margin: 20px 10%;
}

.mapImg {
    display: flex;
}

.mat-dialog-content img, table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: center;
    margin-bottom: 20px;
}

.mat-dialog-content span {
    font-weight: bold;
}

.nationInfo {
    margin: 0 10%;
}

.cityInfo {
    display: flex;
    width: 80%;
}

td, th {
    min-width: 100px; 
}

.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.copyright {
    text-align: center;
    font-size: 0.7em;
}

.mat-radio-button {
    margin-left: 16px;
}

.continentMenu {
    padding: 15px 0px;
    top: 64px;
    position: sticky;
    z-index: 1;
    background-color: white;
    text-align: center;
}